body {
  background-image: url('img/concert.jpg');
  background-size: cover;
  font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  color: #ffffff; /* Set a white text color for better contrast */
}

.container {
  background: rgba(255, 255, 255, 0.8); /* Set the container background with slight transparency */
  max-width: 80%;
  width: 400px; /* Set a specific width for the container */
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(0, 0, 0, 0.2); /* Update the border to be more subtle */
  border-radius: 10px;
  padding: 20px; /* Add some padding for spacing */
}

h1 {
  margin-top: 20px; /* Increase the margin for more spacing */
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 36px; /* Adjust the font size for better readability */
  color: #000000; /* Set the text color to black */
}

h2 {
  font-size: 60px; /* Increase the font size for emphasis */
  margin-top: 0;
  margin-bottom: 30px; /* Increase the margin for more spacing */
  font-family: 'Roboto', sans-serif;
  color: #000000; /* Set the text color to black */
}

button {
  border: none;
  padding: 12px 20px; /* Increase the padding for more visual appeal */
  color: #ffffff;
  font-weight: bold;
  width: 220px; /* Increase the width for better button visibility */
  margin-bottom: 10px; /* Adjust the margin for better spacing */
  border-radius: 5px;
  font-size: 16px; /* Adjust the font size for better readability */
  cursor: pointer; /* Add a pointer cursor for better interactivity */
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

button#increment-btn {
  background: #4682b4; /* Update the button color to a modern stainless steel industrial blue (#4682b4) */
}

button#save-btn {
  background: #4caf50; /* Update the button color for a more modern look */
}

button#increment-btn,
button#save-btn {
  color: #ffffff; /* Set the text color of buttons to white */
}

button#reset-btn {
  background: #ff0000; /* Set the button color to red */
}

button#reset-btn:hover,
button#increment-btn:hover,
button#save-btn:hover {
  opacity: 0.8; /* Reduce the opacity on hover for a subtle effect */
}

#save-el {
  font-size: 14px; /* Adjust the font size for better readability */
  color: #000000; /* Set the text color to black */
}

/* Responsive Styles */

@media (max-width: 768px) {
  .container {
    width: 90%; /* Adjust the width for smaller screens */
    padding: 10px; /* Adjust the padding for smaller screens */
  }
}

@media (max-width: 480px) {
  .container {
    width: 95%; /* Adjust the width for even smaller screens */
    padding: 5px; /* Adjust the padding for even smaller screens */
  }
}
